body {
    margin: 0;
    font-family: monospace;
    background: black;
    color: #33ff33;
  }
  
  .terminal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  #output {
    flex-grow: 1;
    overflow-y: auto;
    font-family: monospace;
    white-space: pre;
    line-height: 1.2;
  }
  
  .input-line {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* spazio tra prompt e input */
  }
  
  .input-line .prompt {
    white-space: nowrap; /* evita che vada a capo */
  }
  
  #input {
    flex-grow: 1; /* occupa il resto dello spazio disponibile */
    background: black;
    color: #33ff33;
    border: none;
    outline: none;
    font-family: monospace;
    font-size: 1rem;
  }
    
  .prompt {
    color: #33ff33;
  }
  
  pre {
    font-family: monospace;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    line-height: 1.1;
  }
  
  a[data-cmd] {
    color: #2e8cbf;           /* Verde brillante */
    text-decoration: underline;  /* Sottolineato (opzionale) */
    cursor: pointer;
  }
  
  a[data-cmd]:hover {
    color: #2e8cbf;           /* Verde acqua al passaggio */
  }
  
  a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

  a.gh-link {
    color: #2e8cbf;        /* Ciano acceso */
    text-decoration: none; /* Nessuna sottolineatura */
  }
  
  a.gh-link:hover {
    color: #2e8cbf;        /* Colore leggermente più chiaro al passaggio */
  }
  